.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.planta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px auto;
  max-width: 800px; /* Ajusta el ancho máximo según tu diseño */
}

.habitacion {
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease; /* Agregamos una transición para el efecto de escala */
}

.habitacion:hover {
  transform: scale(1.05); /* Cambiamos scale: 1.05 a transform: scale(1.05) */
}

.habitacion:active {
  transform: scale(1.00); /* Cambiamos scale: 1.05 a transform: scale(1.05) */
}

.habitacion p {
  margin: 10px 0 0 0;
}

.foco {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}

.encendido {
  background-color: yellow;
}

.apagado {
  background-color: gray;
}
